   <!-- Banner START -->
    <div class="banner mb-0">
        <div class="banner__overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-lg-start">
                        <h1 class="global__title global__title-dark text-capitalize">about us</h1>
                        <ul class="banner__ul">
                            <li class="banner__ul-list p-0">
                                <a class="banner__ul-link" href="index.html">
                                    home
                                </a>
                            </li>
                            <li class="banner__ul-list">
                                about us
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="banner__element d-none d-lg-block">
                    <img src="~/assets/img/element-3.svg" alt="image">
                </div>
                <div class="banner__polygon d-none d-lg-block">
                    <img src="~/assets/img/polygon.svg" alt="image">
                </div>
            </div>
        </div>
    </div>
    <!-- Banner END -->

    <!-- Support START -->
    <div class="support">
        <div class="container p-sm-0">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="global__text global__text-w">What we do?</h3>
                    <h2 class="support__heading global__heading global__heading-w">
                        We Are In A Mission To Help The Helpless
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xl-3" data-aos="fade-left" data-aos-duration="1000">
                    <div class="support__card global__white">
                        <div class="global__icon support__card-icon">
                            <img src="~/assets/img/water-icon.svg" alt="image" style="height: 32px; width: 32px;">
                        </div>
                        <div class="">
                            <h3 class="support__card-heading global__heading">Clean Water</h3>
                            <p class="support__card-desc global__desc mt-3 mb-0">
                                We are dedicated to providing clean water access to communities in need, making a tangible difference one donation at a time.
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3" data-aos="fade-left" data-aos-duration="1000">
                    <div class="support__card global__white">
                        <div class="global__icon support__card-icon">
                            <img src="~/assets/img/health-icon.svg" alt="image" style="height: 32px; width: 32px;">
                        </div>
                        <div class="">
                            <h3 class="support__card-heading global__heading">Healthy Food</h3>
                            <p class="support__card-desc global__desc mt-3 mb-0">
                                Be a part of the impact of our crowdfunding platform committed to ensuring access to healthy food for all, fostering nutrition equity and well-being in communities worldwide.
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3" data-aos="fade-right" data-aos-duration="1000">
                    <div class="support__card global__white">
                        <div class="global__icon support__card-icon">
                            <img src="~/assets/img/cap-icon.svg" alt="image" style="height: 32px; width: 32px;">
                        </div>
                        <div class="">
                            <h3 class="support__card-heading global__heading">Free Education</h3>
                            <p class="support__card-desc global__desc mt-3 mb-0">
                                Empower the next generation through our crowdfunding platform dedicated to providing free education opportunities, breaking down barriers to learning and fostering a brighter future for all.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3" data-aos="fade-right" data-aos-duration="1000">
                    <div class="support__card global__white">
                        <div class="global__icon support__card-icon">
                            <img src="~/assets/img/heart-icon.svg" alt="image" style="height: 32px; width: 32px;">
                        </div>
                        <div class="">
                            <h3 class="support__card-heading global__heading">Medical Facilities</h3>
                            <p class="support__card-desc global__desc mt-3 mb-0">
                                Join us in revolutionizing healthcare access worldwide through our crowdfunding platform focused on expanding and enhancing medical facilities, ensuring that every individual receives the care they need and deserve.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Support END -->

    <!-- Donation START -->
    <div class="donation global__py">
        <div class="container p-sm-0">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-9 col-lg-5" data-aos="fade-right" data-aos-duration="1000">
                    <h3 class="global__text">about us</h3>
                    <h2 class="donation__heading global__heading">
                        Helping each other can make world better
                    </h2>
                    <p class="donation__desc global__desc mb-3">
                        We believe in the power of collective kindness to drive positive change.
                        With our intuitive interface and supportive community, you can easily raise funds for causes that matter to you.
                    </p>
                    <p class="donation__desc global__desc m-0">
                        Whether it's aiding disaster relief efforts, supporting local businesses, or funding educational initiatives, together, we can make a meaningful impact. 
                        Join us today and be a part of something greater.
                    </p>
                    <div class="donation__mt">
                        <div class="">
                            <a asp-controller="Cases" asp-action="All" class="donation__btn global__btn m-0">donate now</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-none d-lg-block position-relative" data-aos="fade-left" data-aos-duration="1000">
                    <div class="donation__img d-flex justify-content-center">
                        <img class="img-fluid donation__img-shape" src="~/assets/img/shape.png" alt="image">
                        <img class="img-fluid" src="~/images/add-img-6.png" alt="image">
                    </div>
                    <img class="donation__element2" src="~/assets/img/element.png" alt="image">
                </div>

            </div>
        </div>
    </div>
    <!-- Donation END -->