   <!--  Banner START -->

<div class="banner">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="global__title global__title-dark text-capitalize">contact us</h1>
                    <ul class="banner__ul">
                        <li class="banner__ul-list p-0">
                            <a class="banner__ul-link" asp-controller="Home" asp-action="Index">
                                home
                            </a>
                        </li>
                        <li class="banner__ul-list">
                            contact us
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner__element d-none d-lg-block">
                <img src="~/assets/img/element-3.svg" alt="image">
            </div>
            <div class="banner__polygon d-none d-lg-block">
                <img src="~/assets/img/polygon.svg" alt="image">
            </div>
        </div>
    </div>
</div>

<!--  Banner END -->
<!--  Social START -->

<div class="social global__py pt-0">
    <div class="container p-sm-0">
        <div class="row justify-content-center gap-5 gap-lg-0">
            <div class="col-12 col-sm-10 col-lg-4">
                <div class="social__body">
                    <div class="">
                        <div class="social__body--loc"></div>
                        <div class="social__i">
                            <img class="" src="~/assets/img/location-i.svg" alt="image">
                        </div>
                        <div class="">
                            <h4 class="social__text">Our Location</h4>
                            <p class="social__number">6100, Prolet, ul. "Oreshaka" 2, 6100 Kazanluk, Bulgaria</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-lg-4">
                <div class="social__body">
                    <div class="">
                        <div class="social__body--con"></div>
                        <div class="social__i">
                            <img class="" src="~/assets/img/phone-icon.svg" alt="image">
                        </div>
                        <div class="">
                            <h4 class="social__text">Our Contact</h4>
                            <p class="social__number">+(548) 1234-456-7890</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-lg-4">
                <div class="social__body">
                    <div class="">
                        <div class="social__body--mail"></div>
                        <div class="social__i">
                            <img class="" src="~/assets/img/mail-icon.svg" alt="image">
                        </div>
                        <div class="">
                            <h4 class="social__text">Send Mail</h4>
                            <p class="social__number">charity@@abv.bg</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Social END -->
<!--  Map START -->

<div class="contact__map">
    <iframe class="w-100"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2935.852302047893!2d25.391634275928343!3d42.62208831850734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a8540f3649302f%3A0x5196bb6a32f7750e!2z0J_Qn9Cc0JMgItCd0LjQutC-0LvQsCDQntCx0YDQtdGI0LrQvtCyIg!5e0!3m2!1sen!2sbd!4v1711368641348!5m2!1sen!2sbd"
            width="600" height="785" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!--  Map END -->
